    :root {
    --kes채: #ffc61e;
    --suomenlinna: #f5a3c7;
    --hopea: #dedfe1;
    --kulta: #c2a251;
    --musta: #000000;
    }

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    margin: 0;
}

nav {
    display: grid;
    grid-template-columns: 1fr, 2fr, 1fr;
    background-color: rgb(47, 48, 48);
    overflow: hidden;
}

h1 {
    margin: 10px;
    grid-column: 2;
    color: #f1f1f1;
}

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    padding: 10px;
  }

.osiot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    max-width: 700px;
  }
.info-container {
    max-width: 700px;
  }
.info-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    padding: 10px;
    background-color: rgb(47, 48, 48);
    color: #f9f9f9;
    cursor: pointer;
  }
.info-header:hover {
    background-color: var(--kes채);
    color: black;
  }
.info-title {
    align-self: flex-start;   
    padding: 5px;
    cursor: pointer;
  }
.info-arrow {
    align-self: flex-end;
    padding: 5px;
  }
.active-color {
    background-color: var(--kes채);
    color: var(--musta);
  }
.active {display:block;}
.active .info-arrow  {transform: rotate(90deg);}
.info-header .active{background-color: var(--kes채);}

.info-osio {
    overflow: hidden;
    display: none;
  }

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(47, 48, 48);
    color: #f9f9f9;
    text-transform: uppercase;
  }